[submodule "vendor/nativefiledialog-extended"]
	path = vendor/nativefiledialog-extended
	url = https://github.com/btzy/nativefiledialog-extended.git
[submodule "vendor/fmt"]
	path = vendor/fmt
	url = https://github.com/fmtlib/fmt.git
