CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
.idea
build

# Compiled Object files
**/.DS_Store
*.slo
*.lo
*.o
*.obj
!/resources/*.obj


# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

**/cmake-build-debug
**/cmake-build-release
**/CMakeCache.txt
**/cmake_install.cmake
**/install_manifest.txt
**/CMakeFiles/
**/CTestTestfile.cmake
**/Makefile
**/*.cbp
**/CMakeScripts
**/compile_commands.json

include/divisible/*


## Local 

.idea/*.xml

build/**/*

include/*
lib/*
bin/*
test/test_runner

*.recipe
*.tlog
*.pdb
*.lastbuildstate
*.vcxproj
*.sln
*.vcxproj.filters
*.ilk
**/imgui.ini
*.exp

vendor/glfw/src/glfw3.pc
vendor/glfw/src/glfw3Config.cmake
vendor/glfw/src/glfw3ConfigVersion.cmake


!vendor/webgpu/bin/**/*
!vendor/slang/bin/*
!vendor/slang/lib/*
!vendor/nethost/*
!vendor/*
!vendor/**/*
!resources/**

*.log
*.vcxproj.*
*.ifc
*.module.json
*.ifc.d.json
*.d.json
*.command
*cmake-build*/
.nuget
script/CrabEngine/bin
script/CrabEngine/obj
script/Generators/bin
script/Generators/obj
